<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:50</td>  <td>Data structures and data frames</td> </tr>
      <tr> <td>12:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Subsetting data and control flow</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:50</td>  <td>Creating publication-quality graphics</td> </tr>
      <tr> <td>12:30</td>  <td>Finish</td> </tr>
     </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Vectorisation and functions</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:50</td>  <td>Data frame manipulation</td> </tr>
      <tr> <td>12:30</td>  <td>Finish</td> </tr>
   </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
       <tr> <td>09:00</td>  <td>Producing reproducible reports</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:50</td>  <td>Writing good software</td> </tr>
      <tr> <td>12:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>12:30</td>  <td>End of workshop</td> </tr>
    </table>
  </div>
</div>
