<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Variables and assignment</td> </tr>
      <tr> <td>09:45</td>  <td>Data types and data conversion</td></tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Built-in functions and help</td> </tr>
      <tr> <td>12:00</td>  <td>Libraries</td> </tr>
      <tr> <td>12:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Reading tabular data into dataframes</td> </tr>
      <tr> <td>10:00</td>  <td>Pandas dataframes</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:50</td>  <td>Plotting</td> </tr>
      <tr> <td>12:30</td>  <td>Finish</td> </tr>
     </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Lists</td> </tr>
      <tr> <td>09:45</td>  <td>For loops</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Conditionals</td> </tr>
      <tr> <td>11:45</td>  <td>Looping over data sets</td> </tr>
      <tr> <td>12:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Writing functions</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:50</td>  <td>Variable scope</td> </tr>
      <tr> <td>11:50</td>  <td>Good programming style</td> </tr>
      <tr> <td>12:20</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>12:30</td>  <td>End of workshop</td> </tr>
    </table>
  </div>
</div>
